@mixin ellipsis($lines: 1) {
  @if $lines == 1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: $lines;
  }
}

%inner {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

%line-border {
  border-radius: 4px;
  border: 1px solid rgba(112, 115, 124, 0.22);
}

%btn-half {
  display: flex;
  min-width: 290px;
  height: 48px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

%btn-blue-white {
  @extend %btn-half;
  border: 1px solid var(--BG_FFFFFF);
  background-color: var(--Primary);
  color: var(--BG_FFFFFF);
}

%btn-white-blue {
  @extend %btn-half;
  border: 1px solid var(--Primary);
  background-color: var(--BG_FFFFFF);
  color: var(--Primary);
}

%text {
  &-title {
    font-size: 28px;
    line-height: 36px;
    &-large {
      font-size: 36px;
      line-height: 48px;
    }
    &-bold {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &-heading {
    font-size: 22px;
    line-height: 30px;
    &-bold {
      font-size: 18px;
      line-height: 26px;
    }
    &-medium {
      font-size: 18px;
      font-weight: 500;
    }
    &-regular {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &-body {
    font-size: 15px;
    line-height: 26px;
    &-btn {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }
    &-short {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
    &-long {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }
    &-regular {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  &-caption {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    &-regular {
      font-weight: 400;
      font-size: 12px;
    }
  }
}

%badge {
  > p {
    margin-bottom: 4px;
    @include ellipsis(1);
    &:first-child {
      & + p {
        color: var(--TXT2_848588);
        @extend %text-label;
        font-weight: 400;
        > span {
          &:first-child:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 14px;
            margin: -2px 8px 0;
            background-color: var(--Normal_E0E0E2);
            vertical-align: middle;
          }
        }
        & + p {
          color: var(--TXT2_848588);
          @extend %text-caption-regular;
          > span {
            display: inline-block;
            margin-top: 8px;
            margin-right: 12px;
            padding: 3px 7px;
            border-radius: 4px;
            background-color: var(--Basic_F7F7F8);
            color: var(--TXT3_C7C8C9);
            font-weight: 600;
            &.primary {
              color: var(--Primary);
              background-color: var(--Badge_EBF3FF);
            }
            &.purple {
              color: #aa33ff;
              background-color: #f4ebff;
            }
            &.green {
              color: #3da64a;
              background-color: #ebffed;
            }
            &.grey {
              color: #c7c8c9;
              background-color: #f4f4f5;
            }
          }
        }
      }
    }
  }
}

%dropdown {
  display: none;
  position: absolute;
  top: 38px;
  left: -4px;
  min-width: 120px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--BG_FFFFFF);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12),
    0px 1px 4px 0px rgba(0, 0, 0, 0.08), 0px 0px 1px 0px rgba(0, 0, 0, 0.08);
  @extend %text-caption-regular;
  z-index: 10;
  > ul {
    > li {
      display: flex;
      padding: 4px 8px;
      margin: 4px 0;
      cursor: pointer;
      white-space: nowrap;
      // &:hover {
      //   background-color: var(--Basic_F7F7F8);
      //   border-radius: 4px;
      // }
    }
  }
}

%dropdown-component {
  display: none;
  position: absolute;
  top: 46px;
  right: -6px;
  width: 112px;
  border-radius: 8px;
  background-color: var(--BG_FFFFFF);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  z-index: 10;
  > ul {
    width: 100%;
    > li {
      display: flex;
      padding: 12px 16px;
      cursor: pointer;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      &:hover {
        background-color: var(--Basic_F7F7F8);
        color: var(--Primary);
      }
      &.on {
        color: var(--Primary);
      }
    }
  }
}

%title-component {
  padding: 52px 0 6px;
  > h3 {
    display: block;
    @extend %text-title;
    > span {
      font-weight: 400;
    }
  }
  > p {
    display: inline-block;
    padding: 12px 16px;
    margin: 8px 0 52px;
    background: var(--Basic_F7F7F8);
    border-radius: 4px;
    font-weight: 500;
    > span {
      position: relative;
      &:first-child:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 14px;
        margin: -2px 12px 0;
        background-color: var(--Normal_E0E0E2);
        vertical-align: middle;
      }
    }
  }
}

%list-component {
  &.g {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 0;
    > div {
      > div {
        > div {
          > div {
            display: grid;
            // grid-template-columns: repeat(5, minmax(264px, 1fr));
            grid-template-columns: repeat(5, minmax(0, 1fr));
            // grid-template-columns: repeat(5, auto);
            grid-template-rows: repeat(2, auto);
            gap: 52px 12px;
            overflow: hidden;
          }
        }
      }
      .item {
        width: 100%;
        max-width: 270px;
      }

      &.empty {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        div {
          height: auto;
        }
      }
    }
  }
  > div:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    > h4 {
      @extend %text-heading-regular;
      & + div {
        display: flex;
        align-items: center;
        a,
        span {
          @extend %text-body-regular;
          color: var(--TXT2_848588);
          margin: 0 12px;
        }
        span {
          color: var(--TXT4_Disable);
        }
        button {
          @extend %arrow-swiper-button;
        }
        p {
          display: inline-block;
          height: 38px;
          padding: 7px 20px;
          margin: 0 12px;
          border-radius: 4px;
          border: 1px solid var(--Normal_E0E0E2);
          @extend %text-body-long;
          font-weight: 600;
          cursor: pointer;
          &.active {
            color: var(--Primary);
          }
        }
      }
    }
  }

  > div {
    & + div {
      margin: 16px 0 52px;
    }
    > div {
      > div {
        flex-direction: unset;
        > div {
          width: auto;
        }
      }
    }
    .item {
      position: relative;
      display: flex;
      width: 270px;
      flex-direction: column;
      align-items: flex-start;
      > div:nth-child(1) {
        cursor: pointer;
        &:hover {
          > div {
            transform: scale(1.04);
            -webkit-transform: scale(1.04);
          }
        }
      }
      > span {
        position: absolute;
        top: 4px;
        left: 4px;
        background-color: #fff;
        border-radius: 4px;
      }
      &.empty {
        width: 100%;
        height: 272px;
        justify-content: center;
        align-items: center;
        @extend %text-body-btn;
        color: var(--TXT3_C7C8C9);
        flex: 1;
        cursor: auto;
      }
    }
  }
}

%arrow-swiper-button {
  display: inline-block !important;
  width: 30px;
  height: 28px;
  border: 1px solid var(--Normal_E0E0E2);
  border-radius: 0 4px 4px 0;
  transform: rotate(180deg);
  & + button {
    border-left: 0;
    transform: rotate(0deg);
  }
  > svg {
    margin: auto;
    rect {
      fill: var(--TXT2_848588);
    }
  }
  &:disabled {
    cursor: auto;
    > svg rect {
      fill: var(--Normal_E0E0E2);
    }
  }
}

%progress-spinner {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #2257e2 94%, #0000) top/3px 3px
      no-repeat,
    conic-gradient(#0000 30%, #2257e2);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 3.2px),
    #000 0
  );
  -webkit-animation: progress 1s infinite linear;
  animation: progress 1s infinite linear;

  @keyframes progress {
    100% {
      transform: rotate(1turn);
    }
  }
  @-webkit-keyframes progress {
    100% {
      transform: rotate(1turn);
    }
  }
}

%encoding-spiner {
  position: relative;
  width: 20px;
  height: 20px;
  > i {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 3px;
    height: 8px;
    border-radius: 2px;
    background-color: var(--BG_FFFFFF);
    -webkit-animation: iSpinnerBlade 1s linear infinite;
    animation: iSpinnerBlade 1s linear infinite;
    will-change: opacity;
    &:nth-child(1) {
      -webkit-transform: rotate(45deg) translateY(-11.5px);
      transform: rotate(45deg) translateY(-11.5px);
      -webkit-animation-delay: -1.625s;
      animation-delay: -1.625s;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(90deg) translateY(-11.5px);
      transform: rotate(90deg) translateY(-11.5px);
      -webkit-animation-delay: -1.5s;
      animation-delay: -1.5s;
    }
    &:nth-child(3) {
      -webkit-transform: rotate(135deg) translateY(-11.5px);
      transform: rotate(135deg) translateY(-11.5px);
      -webkit-animation-delay: -1.375s;
      animation-delay: -1.375s;
    }
    &:nth-child(4) {
      -webkit-transform: rotate(180deg) translateY(-11.5px);
      transform: rotate(180deg) translateY(-11.5px);
      -webkit-animation-delay: -1.25s;
      animation-delay: -1.25s;
    }
    &:nth-child(5) {
      -webkit-transform: rotate(225deg) translateY(-11.5px);
      transform: rotate(225deg) translateY(-11.5px);
      -webkit-animation-delay: -1.125s;
      animation-delay: -1.125s;
    }
    &:nth-child(6) {
      -webkit-transform: rotate(270deg) translateY(-11.5px);
      transform: rotate(270deg) translateY(-11.5px);
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }
    &:nth-child(7) {
      -webkit-transform: rotate(315deg) translateY(-11.5px);
      transform: rotate(315deg) translateY(-11.5px);
      -webkit-animation-delay: -0.875s;
      animation-delay: -0.875s;
    }
    &:nth-child(8) {
      -webkit-transform: rotate(360deg) translateY(-11.5px);
      transform: rotate(360deg) translateY(-11.5px);
      -webkit-animation-delay: -0.75s;
      animation-delay: -0.75s;
    }
  }
  @-webkit-keyframes iSpinnerBlade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes iSpinnerBlade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
}
